
@font-face {
    font-family: "HACKED";
    src: url("../fonts/HACKED.ttf") format("truetype");
}

body{
    background-color:#111;
    color:white;
}

nav{
    width:100%;
    background:#111;

    display:flex;
    align-items:center;
 justify-content:center;
    padding:15px 30px;
    gap:30px;

    border-bottom:2px solid darkred;
}
.navbar{
    display:block;
}
.logo{
    display:flex;
    align-items:center;
    flex-shrink:0;
}

.logo img{
    height:80px;
    width:auto;
    display:block;
}

.nav-links{
    display:flex;
    gap:15px;
}

.nav-links a{

    font-family:"Pixelify Sans", sans-serif;

    color:white;
    text-decoration:none;

    padding:10px 18px;

    background:#1a0000;

    border:1px solid darkred;

    text-shadow:0 0 3px red;

    transition:
        background 0.25s ease,
        color 0.25s ease,
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.nav-links a:hover{

    background:#8b0000;

    color:white;

    transform:translateY(-2px);

    box-shadow:
        0 0 8px red;

}

h1{
    font-family: "HACKED", sans-serif;
    font-size:54px;
    font-weight: 700;
    text-align:center;
     display:block;
    width:100%;
    color:white;
    letter-spacing:2px;
    text-shadow:
        0 0 5px red,
        0 0 10px darkred;
}
h2{
    font-family: "Pixelify Sans", sans-serif;
    font-size:32px;
    font-weight: 700;
    text-align:center;
    color:white;
     display:block;
    width:100%;
}
h3{
    font-family: "Pixelify Sans", sans-serif;
    font-size:24px;
    font-weight: 700;
    text-align:center;
    color:white;
     display:block;
    width:100%;
}
.glitch{
    position:relative;
    display:inline-block;
    animation: flicker 2s infinite;
}

.glitch::before,
.glitch::after{
    content: attr(data-text);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    overflow:hidden;
    color:white;
}

.glitch::before{
    left:2px;
    text-shadow:-2px 0 red;
    animation: glitchTop 1.5s infinite linear alternate-reverse;
}

.glitch::after{
    left:-2px;
    text-shadow:2px 0 cyan;
    animation: glitchBottom 1.5s infinite linear alternate-reverse;
}

@keyframes flicker{
    0%, 100% {opacity:1;}
    92% {opacity:1;}
    93% {opacity:0.4;}
    94% {opacity:1;}
    97% {opacity:0.2;}
    98% {opacity:1;}
}

@keyframes glitchTop{
    0% {transform: translate(0,0);}
    20% {transform: translate(-2px,-1px);}
    40% {transform: translate(-1px,1px);}
    60% {transform: translate(-3px,0);}
    80% {transform: translate(2px,1px);}
    100% {transform: translate(0,0);}
}

@keyframes glitchBottom{
    0% {transform: translate(0,0);}
    20% {transform: translate(2px,1px);}
    40% {transform: translate(1px,-1px);}
    60% {transform: translate(3px,0);}
    80% {transform: translate(-2px,-1px);}
    100% {transform: translate(0,0);}
}

.hero{
   font-weight: 700;
font-family:"Pixelify Sans", sans-serif;
    text-align:center;
    padding:20px;
}

.hero img{
    width:100%;
    max-width:800px;
}
p{
   font-family:'Share Tech Mono', monospace;
    font-weight: regular;
    line-height:1.6;
    text-align: center;
    max-width:900px;
    margin:auto;
    padding:10px;
}

.character{
    width:220px;
    background:black;
    border:2px solid darkred;
    padding:10px;

    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:10px;
}

.character img{
    width:100%;
    height:auto;
    max-height:500px;
    object-fit:contain;
    display:block;
}
.character p{
    margin:8px 0 0 0;
    font-size:14px;
}
input.modal-toggle{
    display:none !important;
    width:0;
    height:0;
    position:absolute;
}

.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.95);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:999;
}

.modal-toggle:checked + label + .modal{
    display:flex;
    animation:flash 0.2s ease-in-out;
}

.modal-box{
    background:black;
    border:2px solid darkred;
    padding:25px;
    width:320px;
    text-align:center;
    color:white;
    box-shadow:0 0 30px red;
    position:relative;
    animation:shake 0.3s ease-in-out, flash 0.2s ease-in-out;
}

.close{
    position:absolute;
    top:5px;
    right:10px;
    cursor:pointer;
    color:red;
    font-size:18px;
}

.glitch-text{
    margin-top:10px;
    color:red;
    font-size:20px;
    animation:glitch 0.2s infinite;
}

@keyframes flash{
    0%{background:rgba(255,0,0,0);}
    50%{background:rgba(255,0,0,0.25);}
    100%{background:rgba(0,0,0,0.95);}
}

@keyframes shake{
    0%{transform:translate(0,0);}
    25%{transform:translate(-4px,3px);}
    50%{transform:translate(4px,-3px);}
    75%{transform:translate(-3px,4px);}
    100%{transform:translate(0,0);}
}

@keyframes glitch{
    0%{transform:translate(0);}
    25%{transform:translate(-2px,2px); text-shadow:2px 0 red;}
    50%{transform:translate(2px,-2px); text-shadow:-2px 0 cyan;}
    75%{transform:translate(-1px,1px);}
    100%{transform:translate(0);}
}
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content:center;
    gap:20px;
    max-width:1100px;
    margin:auto;
}

.grid img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.grid img:hover{
    transform:scale(1.05);
    box-shadow:0 0 10px red;
}
.monitor{
    display:flex;
    justify-content:center;
    padding:30px;
}

.monitor-screen img{
    position:relative;
    z-index:1;
}

.monitor-screen img{
    transition: 0.3s ease;
}

.monitor-screen img:hover{
    filter: contrast(1.4) brightness(0.7);
}
.monitor-screen{
    animation: flicker 6s infinite;
}

@keyframes flicker{
    0%, 100% {opacity: 1;}
    50% {opacity: 0.97;}
}

.map-section{
    padding:20px;
    text-align:center;
}

.map-section img{
    width:100%;
    max-width:900px;
}
.timeline{
    max-width:1000px;
    margin:60px auto;
    padding:20px;
}

.timeline-item{
    display:flex;
    gap:25px;
    margin-bottom:25px;
    align-items:flex-start;
}

.timeline-date{
    min-width:120px;
    background:white;
    color:black;
    font-family:"Pixelify Sans", sans-serif;
    font-size:26px;
    text-align:center;
    padding:15px;
    border-radius:12px;
    transition:.3s;
    cursor:default;
}

.timeline-date:hover{
    transform:scale(1.12);
    box-shadow:0 0 20px red;
}

.timeline-content{
    flex:1;
    background:white;
    color:black;
    padding:20px;
    border-radius:12px;
    border-left:6px solid darkred;
    transition:.3s;
}

.timeline-content:hover{
    transform:translateX(8px);
}

.timeline-content h3{
    margin-top:0;
    font-family:"Pixelify Sans", sans-serif;
}

.timeline-content p{
   font-family:'Share Tech Mono', monospace;
    color:black;
    margin:0;
}


.form-section{
    padding:20px;
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
    max-width:400px;
    margin:auto;
}

input, textarea{
    padding:10px;
    border:none;
    border-radius:5px;
}

button{
    background:#7a0000;
    color:white;
    padding:10px;
    border:none;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:red;
    transform:scale(1.05);
}
.game-icons{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:nowrap;
    margin-bottom:60px;
}

.game-icons img{
    width:180px;
    height:180px;
    object-fit:contain;
}
.game-icons img:hover{
    transform:scale(1.15) rotate(-2deg);
    box-shadow:0 0 25px red;
}
@media (max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        justify-content:center;
        flex-wrap:wrap;
    }

    .logo img{
        height:60px;
    }

}
footer{
    border-top:2px solid darkred;
    padding:20px;
    text-align:center;
    background:#111;
}
.fnaf3-grid{
    display:flex;
    gap:20px;
    max-width:1000px;
    margin:auto;
    padding:20px;
    align-items:center;
}

.fnaf3-img img{
    width:100%;
    max-width:400px;
    border:2px solid darkgreen;
}

.fnaf3-text{
    font-family:'Share Tech Mono', monospace;
    line-height:1.6;
}

.cards{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
    margin:40px auto;
    max-width:1000px;
}

.card{
    background:black;
    border:1px solid darkred;
    padding:15px;
    width:250px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 15px red;
}

.svg-section{
    text-align:center;
    margin:40px 0;
}
.sl-grid{
    display:flex;
    gap:30px;
    max-width:1000px;
    margin:auto;
    padding:20px;
    align-items:center;
}

.sl-svg{
    text-align:center;
}

.sl-text{
    font-family:'Share Tech Mono', monospace;
    line-height:1.6;
}

.ennard{
    max-width:900px;
    margin:40px auto;
    text-align:center;
    padding:20px;
    border:1px solid #b000ff;
    background:#b000ff;
}

.ennard p{
    font-family:'Share Tech Mono', monospace;
    color:black
}

.cards{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
    margin:40px auto;
    max-width:1000px;
}

.card-link{
    text-decoration:none;
    color:inherit;
}

.card{
    background:black;
    border:1px solid darkred;
    padding:15px;
    width:260px;
    text-align:center;
    transition:0.3s ease;
}

.card img{
    width:100%;
    height:180px;
    object-fit:contain;
    margin-bottom:10px;
    transition:0.3s ease;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 0 18px darkred;
}

.card:hover img{
    transform:scale(1.05);
}
.fnaf3-cards{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
    margin:40px auto;
    max-width:1000px;
}

.fnaf3-card{
    background:black;
    border:1px solid darkgreen;
    padding:15px;
    width:260px;
    text-align:center;
    transition:.3s;
}

.fnaf3-card img{
    width:100%;
    height:180px;
    object-fit:contain;
}

.fnaf3-card:hover{
    transform:translateY(-6px);
    box-shadow:0 0 18px limegreen;
}
.sb-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
    gap:20px;
    max-width:1000px;
    margin:auto;
    padding:20px;
}

.sb-card{
    background:black;
    border:1px solid darkred;
    padding:15px;
    text-align:center;
    transition:0.3s ease;
}

.sb-card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 15px cyan;
}

.alert{
    color:red;
    animation:blink 1s infinite;
}

@keyframes blink{
    0%,100%{opacity:1;}
    50%{opacity:0.3;}
}

.sb-grid2{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}

.sb-card2{
    width:220px;
    background:black;
    border:1px solid rgb(209, 4, 195);
    text-align:center;
    transition:0.3s;
}

.sb-card2 img{
    width:100%;
    height:180px;
    object-fit:contain;
}

.sb-card2:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px darkred;
}

.sb-modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.92);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.modal-toggle:checked + label + .sb-modal{
    display:flex;
}

.sb-modal-box{
    width:420px;
    max-width:90%;
    background:#0d0d0d;
    border:2px solid cyan;
    padding:30px;
    text-align:center;
    position:relative;
    overflow:hidden;

    box-shadow:
        0 0 10px cyan,
        0 0 25px cyan;
}

.sb-modal-box::before{
    content:"";
    position:absolute;
    left:0;
    top:-100%;
    width:100%;
    height:100%;

    background:linear-gradient(
        transparent,
        rgba(0,255,255,.15),
        transparent
    );

    animation:scanSB 3s linear infinite;
}

.sb-modal-box h2{
    color:cyan;
    text-shadow:
        0 0 5px cyan,
        0 0 15px cyan;
}

.status{
    display:inline-block;
    padding:8px 16px;
    margin-bottom:15px;
    border-radius:20px;
    font-family:'Share Tech Mono', monospace;
}

.online{
    color:cyan;
    border:1px solid cyan;
    background:#003d3d;
}

.ally{
    color:gold;
    border:1px solid gold;
    background:#332200;
}

.threat{
    color:#ff4fa3;
    border:1px solid #ff4fa3;
    background:#330011;
}

@keyframes scanSB{
    from{
        top:-100%;
    }
    to{
        top:100%;
    }
}
.sl-cards{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
    margin:40px auto;
    max-width:1000px;
}

.sl-card{
    background:black;
    border:1px solid #b000ff;
    padding:15px;
    width:260px;
    text-align:center;
    transition:.3s;
}

.sl-card img{
    width:100%;
    height:180px;
    object-fit:contain;
}

.sl-card:hover{
    transform:translateY(-6px);
    box-shadow:0 0 18px #b000ff;
}
.sl-list{
    list-style:none;
    padding:0;
    margin:20px auto;
    max-width:800px;
}

.sl-list li{
    background:black;
    border-left:3px solid #b000ff;
    padding:12px 15px;
    margin-bottom:10px;

    font-family:'Share Tech Mono', monospace;
    color:#ddd;

    transition:0.3s ease;
    position:relative;
}

.sl-list li:hover{
    transform:translateX(6px);
    box-shadow:0 0 12px #b000ff;
}

.sl-list li::before{
    content:"⟡";
    color:#b000ff;
    margin-right:10px;
}
.sl-text img{
    display:block;
    margin:20px auto;
    max-width:100%;
    height:auto;

    border:2px solid #b000ff;
    box-shadow:0 0 15px #b000ff;
}
iframe{
    display:block;
    margin:20px auto;
    bottom: margin 30px;
}
.character span{
    margin-top:8px;
    font-size:14px;
}
.spotify-player{
    width:60%;
    display:block;
    margin:20px auto;
    border:none;
}
.sb-name{
    display:block;
    font-family:"Pixelify Sans", sans-serif;
    font-size:24px;
    font-weight:700;
    padding:15px;
    color:white;
}