
@font-face {
    font-family: "HACKED";
    src: url("../fonts/HACKED.ttf") format("truetype");
}

body{
    background-color:#111;
    color:white;
}

nav{
    width:100%;
    background:#111;

    display:flex;
    align-items:center;
 justify-content:center;
    padding:15px 30px;
    gap:30px;

    border-bottom:2px solid darkred;
}
.navbar{
    display:block;
}
.logo{
    display:flex;
    align-items:center;
    flex-shrink:0;
}

.logo img{
    height:80px;
    width:auto;
    display:block;
}

.nav-links{
    display:flex;
    gap:15px;
}

.nav-links a{

    font-family:"Pixelify Sans", sans-serif;

    color:white;
    text-decoration:none;

    padding:10px 18px;

    background:#1a0000;

    border:1px solid darkred;

    text-shadow:0 0 3px red;

    transition:
        background 0.25s ease,
        color 0.25s ease,
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.nav-links a:hover{

    background:#8b0000;

    color:white;

    transform:translateY(-2px);

    box-shadow:
        0 0 8px red;

}

h1{
    font-family: "HACKED", sans-serif;
    font-size:54px;
    font-weight: 700;
    text-align:center;
     display:block;
    width:100%;
    color:white;
    letter-spacing:2px;
    text-shadow:
        0 0 5px red,
        0 0 10px darkred;
}
.glitch{
    position:relative;
    display:inline-block;
    animation: flicker 2s infinite;
}

.glitch::before,
.glitch::after{
    content: attr(data-text);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    overflow:hidden;
    color:white;
}

.glitch::before{
    left:2px;
    text-shadow:-2px 0 red;
    animation: glitchTop 1.5s infinite linear alternate-reverse;
}

.glitch::after{
    left:-2px;
    text-shadow:2px 0 cyan;
    animation: glitchBottom 1.5s infinite linear alternate-reverse;
}

@keyframes flicker{
    0%, 100% {opacity:1;}
    92% {opacity:1;}
    93% {opacity:0.4;}
    94% {opacity:1;}
    97% {opacity:0.2;}
    98% {opacity:1;}
}

@keyframes glitchTop{
    0% {transform: translate(0,0);}
    20% {transform: translate(-2px,-1px);}
    40% {transform: translate(-1px,1px);}
    60% {transform: translate(-3px,0);}
    80% {transform: translate(2px,1px);}
    100% {transform: translate(0,0);}
}

@keyframes glitchBottom{
    0% {transform: translate(0,0);}
    20% {transform: translate(2px,1px);}
    40% {transform: translate(1px,-1px);}
    60% {transform: translate(3px,0);}
    80% {transform: translate(-2px,-1px);}
    100% {transform: translate(0,0);}
}

.hero{
   font-weight: 700;
font-family:"Pixelify Sans", sans-serif;
    text-align:center;
    padding:20px;
}

.hero img{
    width:100%;
    max-width:800px;
}
p{
   font-family:'Share Tech Mono', monospace;
    font-weight: regular;
    line-height:1.6;
    max-width:900px;
    margin:auto;
    padding:10px;
}

.character{
    width:220px;
    background:black;
    border:2px solid darkred;
    padding:10px;

    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    gap:10px;
}

.character img{
    width:100%;
    height:auto;
    max-height:280px;
    object-fit:contain;
    display:block;
}
.character p{
    margin:8px 0 0 0;
    font-size:14px;
}
input.modal-toggle{
    display:none !important;
    width:0;
    height:0;
    position:absolute;
}

.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.95);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:999;
}

.modal-toggle:checked + label + .modal{
    display:flex;
    animation:flash 0.2s ease-in-out;
}

.modal-box{
    background:black;
    border:2px solid darkred;
    padding:25px;
    width:320px;
    text-align:center;
    color:white;
    box-shadow:0 0 30px red;
    position:relative;
    animation:shake 0.3s ease-in-out, flash 0.2s ease-in-out;
}

.close{
    position:absolute;
    top:5px;
    right:10px;
    cursor:pointer;
    color:red;
    font-size:18px;
}

.glitch-text{
    margin-top:10px;
    color:red;
    font-size:20px;
    animation:glitch 0.2s infinite;
}

@keyframes flash{
    0%{background:rgba(255,0,0,0);}
    50%{background:rgba(255,0,0,0.25);}
    100%{background:rgba(0,0,0,0.95);}
}

@keyframes shake{
    0%{transform:translate(0,0);}
    25%{transform:translate(-4px,3px);}
    50%{transform:translate(4px,-3px);}
    75%{transform:translate(-3px,4px);}
    100%{transform:translate(0,0);}
}

@keyframes glitch{
    0%{transform:translate(0);}
    25%{transform:translate(-2px,2px); text-shadow:2px 0 red;}
    50%{transform:translate(2px,-2px); text-shadow:-2px 0 cyan;}
    75%{transform:translate(-1px,1px);}
    100%{transform:translate(0);}
}
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content:center;
    gap:20px;
    max-width:1100px;
    margin:auto;
}

.grid img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.grid img:hover{
    transform:scale(1.05);
    box-shadow:0 0 10px red;
}
.monitor{
    display:flex;
    justify-content:center;
    padding:30px;
}
.monitor-screen{
    position:relative;
    width:100%;
    max-width:800px;
    border:3px solid #00ff9d;
    background:black;
    box-shadow:0 0 20px #00ff9d;
    overflow:hidden;
}
.monitor-header{
    font-family:monospace;
    color:#00ff9d;
    padding:10px;
    font-size:14px;
    border-bottom:1px solid #00ff9d;
    letter-spacing:1px;
}
.monitor-screen img{
    width:100%;
    display:block;
    filter:contrast(1.2) brightness(0.8) hue-rotate(90deg);
}
.scanline{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0,255,157,0.05) 50%,
        transparent 100%
    );
    animation:scan 2s linear infinite;
    pointer-events:none;
}
@keyframes scan{
    0%{transform:translateY(-100%);}
    100%{transform:translateY(100%);}
}

.map-section{
    padding:20px;
    text-align:center;
}

.map-section img{
    width:100%;
    max-width:900px;
}
.timeline{
    max-width:1000px;
    margin:60px auto;
    padding:20px;
}

.timeline-item{
    display:flex;
    gap:25px;
    margin-bottom:25px;
    align-items:flex-start;
}

.timeline-date{
    min-width:120px;
    background:white;
    color:black;
    font-family:"Pixelify Sans", sans-serif;
    font-size:26px;
    text-align:center;
    padding:15px;
    border-radius:12px;
    transition:.3s;
    cursor:default;
}

.timeline-date:hover{
    transform:scale(1.12);
    box-shadow:0 0 20px red;
}

.timeline-content{
    flex:1;
    background:white;
    color:black;
    padding:20px;
    border-radius:12px;
    border-left:6px solid darkred;
    transition:.3s;
}

.timeline-content:hover{
    transform:translateX(8px);
}

.timeline-content h3{
    margin-top:0;
    font-family:"Pixelify Sans", sans-serif;
}

.timeline-content p{
   font-family:'Share Tech Mono', monospace;
    color:black;
    margin:0;
}


.form-section{
    padding:20px;
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
    max-width:400px;
    margin:auto;
}

input, textarea{
    padding:10px;
    border:none;
    border-radius:5px;
}

button{
    background:#7a0000;
    color:white;
    padding:10px;
    border:none;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:red;
    transform:scale(1.05);
}
.game-icons{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:nowrap;
}

.game-icons img{
    width:180px;
    height:180px;
    object-fit:cover;
}
.game-icons img:hover{
    transform:scale(1.15) rotate(-2deg);
    box-shadow:0 0 25px red;
}
@media (max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        justify-content:center;
        flex-wrap:wrap;
    }

    .logo img{
        height:60px;
    }

}
